<ion-content>

  <div class="header">
    <h1 class="title"><b>Listes des Produits</b></h1>
    <!-- fab placed to the top end -->
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button href="/search">
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
    </ion-fab> 
  </div>

  <div class="ion-padding">
    <table>
      <tr *ngFor="let produit of produits">
        <!--debut des elements a boucler -->
        
        <td>
          <div class="product">
            <div class="img-box-product">
              <img [src]="produit.image">
            </div>
            <!--quantite du produit -->
            <div class="product-button">
              <ion-badge color="dark">{{produit.quantite}}</ion-badge>
            </div>
            <h6>{{produit.name}}</h6>
            <h5 class="sub-title"><b>{{produit.price}}</b> {{produit.ville_vendeur}}</h5>
            <ion-button (click)="Detail(produit)" slot="bottom">Details</ion-button>
          </div>
        </td>

        <td>
          <div class="product">
            <div class="img-box-product">
              <img [src]="produit.image">
            </div>
            <!--quantite du produit -->
            <div class="product-button">
              <ion-badge color="dark">{{produit.quantite}}</ion-badge>
            </div>
            <h6>{{produit.name}}</h6>
            <h5 class="sub-title"><b>{{produit.price}}</b> {{produit.ville_vendeur}}</h5>
            <ion-button (click)="Detail(produit)" slot="bottom">Details</ion-button>
          </div>
        </td>

        <td>
          <div class="product">
            <div class="img-box-product">
              <img [src]="produit.image">
            </div>
            <!--quantite du produit -->
            <div class="product-button">
              <ion-badge color="dark">{{produit.quantite}}</ion-badge>
            </div>
            <h6>{{produit.name}}</h6>
            <h5 class="sub-title"><b>{{produit.price}}</b> {{produit.ville_vendeur}}</h5>
            <ion-button (click)="Detail(produit)" slot="bottom">Details</ion-button>
          </div>
        </td>

              <!--fin des elements a boucler -->
      </tr>
    </table>

<!-- <ion-grid>
  <ion-row *ngFor="let produit of produits">    
    <ion-col>
      <div class="product">
        <div class="img-box-product">
          <img [src]="produit.image">
        </div>
        <div class="product-button">
          <ion-badge color="dark">{{produit.quantite}}</ion-badge>
        </div>
        <h6>{{produit.name}}</h6>
        <h5 class="sub-title"><b>{{produit.price}}</b> {{produit.ville_vendeur}}</h5>
        <ion-button (click)="Detail(produit)" slot="bottom">Details</ion-button>
      </div>

    </ion-col>
  </ion-row>
</ion-grid> -->


  </div>
</ion-content>
