ion-content{
    --ion-background-color: linear-gradient( #4b79a1,#283e51);
}
ion-item{
    --ion-background-color: transparent!important;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.padding{
    padding: 5%;
}
.logo{
    height: 250px;
    position: relative;
}
.logo img{
    position: absolute;
    height: 150px;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}